@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@brand-primary: #428bca;
@brand-success: #008b4e;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #cc0000;
@brand: @brand-primary;

@icon-font-path: '';
@icon-font-name: 'glyphicons-halflings-regular';
@icon-font-svg-id: 'glyphicons_halflingsregular';

@import 'reset';

@large: 1em;
@medium: 0.5em;
@small: 0.25em;

.mal { margin: @large; }
.mbl { margin-bottom: @large; }
.mtl { margin-top: @large; }
.mrl { margin-right: @large; }
.mll { margin-left: @large; }
.mam { margin: @medium; }
.mbm { margin-bottom: @medium; }
.mtm { margin-top: @medium; }
.mrm { margin-right: @medium; }
.mlm { margin-left: @medium; }
.mas { margin: @small; }
.mbs { margin-bottom: @small; }
.mts { margin-top: @small; }
.mrs { margin-right: @small; }
.mls { margin-left: @small; }
.man { margin: none; }
.mbn { margin-bottom: none; }
.mtn { margin-top: none; }
.mrn { margin-right: none; }
.mln { margin-left: none; }

.pal { padding: @large; }
.pbl { padding-bottom: @large; }
.ptl { padding-top: @large; }
.prl { padding-right: @large; }
.pll { padding-left: @large; }
.pam { padding: @medium; }
.pbm { padding-bottom: @medium; }
.ptm { padding-top: @medium; }
.prm { padding-right: @medium; }
.plm { padding-left: @medium; }
.pas { padding: @small; }
.pbs { padding-bottom: @small; }
.pts { padding-top: @small; }
.prs { padding-right: @small; }
.pls { padding-left: @small; }
.pan { padding: none; }
.pbn { padding-bottom: none; }
.ptn { padding-top: none; }
.prn { padding-right: none; }
.pln { padding-left: none; }

.text-danger { color: @brand-danger; }
.text-success { color: @brand-success; }
.text-warning { color: @brand-warning; }
.text-info { color: @brand-info; }
.text-primary { color: @brand-primary; }

.text-small {
	font-size: 0.8em;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.rounded {
	border-radius: 3px;
}

.anchor {
	width: 100%;
	display: block;
}

.scroll {
	overflow: auto;
}

body {
	background: #000;
	font: 18px 'Open Sans';
	font-weight: 300;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	overflow: hidden;
}
* {
	box-sizing: border-box;
}
aside {
	position: absolute;
	top: 0;
	background: @brand;
}
section {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	-webkit-transform-origin: right center;
	transform-origin: right center;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	user-select: none;
	overflow: hidden;
	input, textarea {
		-webkit-user-select: text;
		-moz-user-select: -moz-text;
		user-select: text;
	}
}

header {
	background-color: @brand;
	color: white;
	font-size: 1.4em;
	text-shadow: 0 1px 1px #111;
	line-height: 2em;

	h1 {
		text-align: center;
		.man;
		.pan;
	}

	nav {
		float: left;
		line-height: inherit;
	}

	button {
		background: transparent;
		line-height: inherit;
		.mls;
	}
}

footer {
	background: #000;
}


article {
	background: #fff;
	.pam;

	button, .btn {
		background: @brand;
		color: white;
		border-bottom: 2px solid darken(@brand, 10%);
	}
}

section[data-transition="slip"] {
	&.showing, &.hiding {
		box-shadow: -5px 0 100px rgba(0,0,0,.1)
	}
}

@import 'buttons';
@import 'notification';
@import 'loading';
@import '../bower_components/bootstrap/less/glyphicons';
